<br>
<div class="container">
  <!-- 上部　Welcome Link_Box -->
  <div class="row">
    <div class="col-md-6">
      <div class="welcome_name">検索機能部分のほど</div>
    </div>
      <div class="col-md-3"><%= link_to 'MAKE_GROUP', new_group_path ,class: 'btn-block link_box' %></div>
      <div class="col-md-3"><%= link_to 'MY_PAGE', 'http://localhost:3000/mypages/index' ,class: 'btn-block link_box' %></div>
  </div>


  <% @groups.each do |group| %>
   <div class="row">
     <h2>
      <%= link_to "#{group.group_name}", groups_show_path(group, id: "#{group.id}"), method: :get %>
     </h2>
   </div>
  <% end %>

</div>
