.event-top-hero-wrapper {
  width: 100vw;
  height: 200vh;
  background: image-url('bg6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
